<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOX5bhec3gn5TONdyS3pFQ38qkszTHs1o</string>
	<key>GCM_SENDER_ID</key>
	<string>115968420186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pallet.driverrr</string>
	<key>PROJECT_ID</key>
	<string>pallettaxinew</string>
	<key>STORAGE_BUCKET</key>
	<string>pallettaxinew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115968420186:ios:afef8363617e7cbb61eb63</string>
</dict>
</plist>